.logo-img {
  width: 40px;
  float: inline-end;
  margin-right: 8px;
  margin-top: 3px;
}

.logo-text {
  text-align: center;
  font-family: Verdana;
  background-color: #007aff;
  color: white;
  padding-top: 12px;
  margin: 0px;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #007aff;
  border-radius: 12px;
  border-start-start-radius: 0px;
  border-start-end-radius: 0px;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Verdana;
}

ul li a:hover {
  color: black;
}